<div class="container">
    <div class="row">
        <div class="col-md-6 left-section m-5 p-5">
            <a href="https://www.linkedin.com/in/your-profile" class="linkedin-button" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-linkedin"></i> LinkedIn
            </a>
            <p class="btn btn-light lead">hellorajpriyanshu&#64;gmail.com</p>
        </div>
        <div class="col-md-4 right-section">
            <img src="../../../assets/img/12982910_5124556.jpg" alt="Your Image" class="rounded-img">
        </div>
    </div>
</div>