<div class="container">
    <div class="row">
        <div class="col-md-6 left-section m-5 p-5">
            <a href="https://www.linkedin.com/in/your-profile" class="linkedin-button" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-linkedin"></i> LinkedIn
            </a>
            <p class="btn btn-light lead">hellorajpriyanshu&#64;gmail.com</p>
        </div>
        <div class="col-md-4 right-section">
            <img src="../../../assets/img/12982910_5124556.jpg" alt="Your Image" class="rounded-img">
        </div>
    </div>
</div>




<!--  experince part pasted here-->


<div class="row mt-5">
            <div class="row ms-2 me-5">
                
                <div class="col-md-6">
                    <div class="card p-4 border border-light-subtle shadow shadow-sm">
                        <img src="../../../assets/img/CGI4.png" class="card-img-top" alt="CGI Logo">
                        <h5 class="card-title">CGI</h5>
                        <h6 class="card-subtitle">Associate Software Engineer</h6>
                        <p class="card-text fw-bold">Aug, 2023 - <span class="text-success fw-bold">PRESENT</span></p>
                        <ul class="card-text">
                            <li>Built a full-stack project management app from the ground up, handling everything from design to deployment</li>
                            <li> Led backend operations and support for an internal automation tool (Spring-based), resolving user issues, and
ensuring high availability and performance.
</li>
<li>
    Delivered key automation solutions using ACCELQ for UI and API automation.
</li>
<li>
    Developing REST APIs using Flask for an ongoing project, contributing to scalable backend functionalities
</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card p-4 border border-light-subtle shadow shadow-sm">
                        <img src="../../../assets/img/CodeFrontier.png" class="card-img-top" alt="CodeFrontier Private Ltd Logo">
                        <h5 class="card-title">CodeFrontier Private Ltd</h5>
                        <h6 class="card-subtitle">Trainee Engineer</h6>
                        <p class="card-text fw-bold">July 2022 -Feb 2023</p>
                        <ul class="card-text">
                            <li>Built an end-to-end e-commerce website for electronics and office products, complete with robust user and seller
                                management systems.</li>
                            <li>Developed proficiency in Git Bash for version control</li>
                            <li>Acquired knowledge of security best practices in software development</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>