<div class="container-fluid">
    <section>
        <div>
            <h2>I'm Priyanshu Raj, living in Hyderabad, India</h2>
        </div>
    </section>

    <section>
        <h2>Skills</h2>

        <div>
            <h1>Language: </h1>
            <div>
                <fa-icon [icon]="faJava"></fa-icon> Java
                <fa-icon [icon]="faPython"></fa-icon> Python
            </div>
        </div>

        <div>
            <h1>Frontend: </h1>
            <div>
                <fa-icon [icon]="faHtml5"></fa-icon> HTML
                <fa-icon [icon]="faCss"></fa-icon> CSS
                <fa-icon [icon]="faBootstrap"></fa-icon> Bootstrap
            </div>
        </div>
        
        <div>
            <h1>Backend: </h1>
            <div>
                <fa-icon [icon]="faJava"></fa-icon> Spring Boot
                <fa-icon [icon]="faPython"></fa-icon> Python
            </div>
        </div>
    </section>

    
</div>