<div class="container-fluid">
    <section>
        <div class="m-5 p-5">
            <h5 class="display-5">I'm Priyanshu Raj, living in Hyderabad, India</h5>
        </div>

        
    </section>

    <section>
        <div class="container py-5">
            <h2 class="section-title">Languages & Technologies</h2>
            <div class="row justify-content-center">
                <div class="col-md-3">
                    <h3 class="category-title">Languages</h3>
                    <div class="tech-item">
                        <img src="../../../assets/img/java.jpeg" alt="Java" style="width: 70px;">
                    </div>
                    <div class="tech-item">
                        <img src="../../../assets/img/python.jpeg" alt="Python" style="width: 70px;">
                    </div>
                </div>
                <div class="col-md-3">
                    <h3 class="category-title">Front-End</h3>
                    <div class="tech-item">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a7/React-icon.svg" alt="React" style="width: 70px;">
                    </div>
                    <div class="tech-item">
                        <img src="../../../assets/img/bootstrap.png" alt="Bootstrap" style="width: 70px;">
                    </div>
                    <div class="tech-item">
                        <img src="../../../assets/img/html.jpg" alt="HTML5" style="width: 70px;">
                    </div>
                    <div class="tech-item">
                        <img src="../../../assets/img/css.png" alt="CSS3" style="width: 70px;">
                    </div>
                </div>
                <div class="col-md-3">
                    <h3 class="category-title">Back-End</h3>
                    <div class="tech-item">
                        <img src="../../../assets/img/spring boot.png" alt="Node.js" style="width: 70px;" alt="spring boot">
                    </div>
                    <div class="tech-item">
                        <img src="../../../assets/img/mongodb.png" alt="Express.js" style="width: 70px;" alt="mongodb">
                    </div>
                    <div class="tech-item">
                        <img src="../../../assets/img/postgresql_logo.png" alt="PostgreSQL" style="width: 70px;">
                    </div>
                     <div class="tech-item">
                        <img src="../../../assets/img/mysql.png" alt="MySQL" style="width: 70px;">
                    </div>
                </div>
                <div class="col-md-3">
                    <h3 class="category-title">Tools</h3>
                    <div class="tech-item">
                        <img src="../../../assets/img/git.png" alt="Git" style="width: 70px;">
                    </div>
                    <div class="tech-item">
                        <img src="../../../assets/img/vscode.jpeg" alt="VS Code" style="width: 70px;">
                    </div>
                    <div class="tech-item">
                        <img src="../../../assets/img/postman.jpg" alt="Postman" style="width: 70px;">
                    </div>
                    <div class="tech-item">
                        <img src="../../../assets/img/github.jpeg" alt="GitHub" style="width: 70px;">
                    </div>
                    <div class="tech-item">
                        <img src="../../../assets/img/docker.png" alt="Docker" style="width: 70px;">
                    </div>
                </div>
            </div>
            <p class="description">
                My favorite languages and technologies for systems programming, software engineering, front-end and back-end web development, and database architecture.
            </p>
        </div>

        <div>
            <div class="container">
                <section class="education-section">
                    <h2 class="education-title">Education</h2>
                    <div class="education-block">
                        <h3 class="education-institution">Bengal College of Engineering and Technology</h3>
                        <p class="education-degree">Bachelor of Technology. (B.Tech)</p>
                        <p class="education-duration">2019 - 2023</p>
                        <p class="education-location">Durgapur, WestBengal</p>
                    </div>
                    <div class="education-block">
                        <h3 class="education-institution">PCS Samastipur</h3>
                        <p class="education-degree">Senior Secondary School</p>
                        <p class="education-duration">2017 - 2019</p>
                        <p class="education-location">Samastipur, Bihar</p>
                    </div>
                </section>
            </div>
        </div>
    </section>

    
</div>