<div class="container-fluid">
    <section class="about m-5 p-5">
        <h6 class="display-6">Software Engineer, technical writer</h6>
        <p>I'm Priyanshu Raj, backend developer with a knack of tech.</p>
        <p>I learn, I build !</p>
    </section>

    <!-- social links starts here -->
    <section class="socials-links">
        <div class="d-flex justify-content-center">
          <a href="" class="mx-2"><i class="fa-brands fa-github"></i>GitHub</a>
          <a href="" class="mx-2"><i class="fa-brands fa-linkedin-in"></i>Linkedin</a>
          <a href="" class="mx-2"><i class="fa-brands fa-hashnode"></i>hashnode</a>
        </div>
    </section>
    <!-- social links ends here -->

    <!-- work expericen start here -->

    <section class="work-experince m-5 p-5">
        <div>
            <h2 class="display-6">Work Experience</h2>
        </div>

        <div class="row mt-5">
            <div class="row">
                <div class="col-md-6">
                    <div class="card p-4">
                        <img src="../../../assets/img/CodeFrontier.png" class="card-img-top" alt="CodeFrontier Private Ltd Logo">
                        <h5 class="card-title">CodeFrontier Private Ltd</h5>
                        <h6 class="card-subtitle">Trainee Engineer</h6>
                        <p class="card-text">Nov 25, 2024 - Jan 8, 2025</p>
                        <p class="card-text">At CodeFrontier, I have build an ecommerce web app which deals in selling office products at affordable price.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card p-4">
                        <img src="../../../assets/img/CGI4.png" class="card-img-top" alt="CGI Logo">
                        <h5 class="card-title">CGI</h5>
                        <h6 class="card-subtitle">Associate Software Engineer</h6>
                        <p class="card-text">Aug, 2023 - <span class="text-success">PRESENT</span></p>
                        <p class="card-text">At CGI, My work involves maitaining and upscalling Automation Tool developed within the team and used in CGI, writing no code scripts in tools like AccelQ for automation.</p>
                    </div>
                </div>
            </div>
            <!-- <div class="col-6">
                <a href="">
                    <img src="../../../assets/img/CodeFrontier.png" alt="" width="50px" height="50px">
                </a>
                <h3>CodeFrontier Private Ltd</h3>
                <p class="lead">Trainee Engineer</p>
                <p class="lead">At CodeFrontier, I have build an ecommerce web app which deals in selling office products at affordable price.</p>
            </div>

            <div class="col-6">
                <a href="">
                    <img src="../../../assets/img/CGI.png" alt="CGI ICON" width="60px" height="60px">
                </a>
                <h3>CGI INC.</h3>
                <p class="lead">Associate Software Engineer</p>
                <p class="lead">At CGI, My work involves maitaining and upscalling Automation Tool developed within the team and used in CGI, writing no code scripts in tools like AccelQ for automation.</p>
            </div> -->
        </div>
    </section>

    <!-- work experience ends here -->
</div>