<div class="container-fluid bg-black">


   <!-- first section main-->
   <section class="min-vh-100 section-1">
    <!-- first div -->
    <div class="container p-5 ms-5 text-white">
      <p class="lead">Hey, I'm</p>
      <h1 class="display-3 gradient-bg mb-3 p-1">Priyanshu Raj</h1>

      <p class="lead ">I'm a software engineer based in Hyderbad, India.</p>
    </div>

    <!-- second div -->
    <div class="container m-5 p-5">

      <button type="button" class="button-85">
        <i class="fa-regular fa-envelope"></i> Send an email
      </button>

      <button type="button" class="button-85 ms-4">
        <i class="fa-brands fa-linkedin"></i> Linkedin
      </button>

      <!-- <button type="button" class="button-85 ms-4">
        <i class="fa-brands fa-github"></i> GitHub
      </button> -->
    </div>
  </section>















    <header class="text-center py-4">
        <div class="brand-logo">
        <span class="display-5">WELCOME</span>
        </div>
      </header>
    
      
      <div class="main-container">
        <!-- Blue Section -->
        <div class="rounded-section blue-section">
          <div>
            <h2 class="h4">Projects</h2>
            <h1 class="display-5">A collection of projects I've worked on.</h1>
          </div>
          <div class="icon-container">
            <i class="bi bi-moon-fill"></i>
          </div>
        </div>
    
        <!-- White Section -->
        <div class="rounded-section white-section">
          <div>
            <h4>Experience</h4>
          </div>
          <div class="icon-container">
            <i class="bi bi-images"></i>
          </div>
        </div>
    
        <!-- Black Section -->
        <div class="rounded-section black-section">
          <div>
            <h4>About</h4>
          </div>
          <div class="icon-container">
            <i class="bi bi-building"></i>
          </div>
        </div>
    
        <!-- Yellow Section -->
        <div class="rounded-section yellow-section large">
          <div>
            <h4>Contact me !!!</h4>
          </div>
          <div class="icon-container">
            <i class="bi bi-arrow-right"></i>
          </div>
        </div>
      </div>
    


</div>
